<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Vue Training</title>
</head>
<body>
    <div id="app">
        <div id="main-container" class="container">
            <div class="row">
                <div class="col">
                    <ul class="list-group users-block">
                        <li class="list-group-item list-group-item-action" @click="setCurrentUser(user)" v-for="user in users">
                            <div class="user-item">
                                <img class="avatar img-thumbnail" :src="user.avatar"/>
                                <div class="info-block">
                                    <p>Name: {{ user.name }}</p>
                                    <p>Email: {{ user.email }}</p>
                                    <p>ID: {{ user.id }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class=" form-group">
                        <label for="name">Name: </label>
                        <input class="form-control" type="text" v-model.lazy="currentUser.name">
                        <label for="name">Email: </label>
                        <input class="form-control" type="email" v-model.lazy="currentUser.email">
                        <label for="name">Avatar: </label>
                        <input class="form-control" type="url" v-model.lazy="currentUser.avatar">
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-outline-success" @click="addUser()">Add</button>
                        <button class="btn btn-outline-danger" @click="deleteCurrentUser()">Delete</button>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="">Search: </label>
                        <input v-if="searchByName" class="form-control" type="text" placeholder="Enter name" v-model="searchLine">
                        <input v-else class="form-control" type="text" placeholder="Enter email" v-model="searchLine"><br>
                        <button v-if="searchByName" class="btn btn-outline-secondary" @click="switchSearch">Switch to email</button>
                        <button v-else class="btn btn-outline-secondary" @click="switchSearch">Switch to name</button>
                    </div>
                    <ul class="list-group users-block">
                        <li class="list-group-item list-group-item-action" v-for="user in foundUsers">
                            <div class="user-item">
                                <img class="avatar img-thumbnail" :src="user.avatar"/>
                                <div class="info-block">
                                    <p>Name: {{ user.name }}</p>
                                    <p>Email: {{ user.email }}</p>
                                    <p>ID: {{ user.id }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <script src="app.js">
    </script>
</body>
</html>