#main-container {
    border: 1px solid #adadad;
    border-radius: 10px;
    padding: 40px 25px 25px 25px;
    margin-top: 50px
}

.avatar {
    width: 70px;
}

.user-item {
    display: flex;
}

.info-block {
    margin-left: 10px;
}
.info-block p {
    margin: 0;
}

.editor {
    width: 100%;
}